[build-system]
requires = [
    "pip>=20.0",
    "setuptools>=40.0",
    "setuptools_scm[toml]>=4.0",
    "wheel"
]
build-backend = "setuptools.build_meta"


[tool.black]
line-length = 120

[tool.isort]
profile = "black"
multi_line_output = 3
skip_glob = [".*_cache"]

[tool.coverage.run]
source = ["grafana_client"]

[tool.coverage.report]
show_missing = true
fail_under = 0
omit = [
    "test/*",
]

[tool.ruff]
line-length = 120
extend-exclude = [
  "grafana_client/elements/__init__.py",
]


# ===================
# Tasks configuration
# ===================

[tool.poe.tasks]
format = [
  {cmd="black ."},
  {cmd="isort ."},
]
lint = [
  {cmd="ruff ."},
  {cmd="black --check ."},
  {cmd="isort --check ."},
]
test = [
  {cmd="python -m unittest -vvv"},
]
test-coverage = [
  {cmd="coverage run -m unittest discover -vvv"},
  {cmd="coverage xml"},
  {cmd="coverage report"},
]
build = {cmd="python -m build"}
