name: Test

on:

  pull_request:
    paths:
      - '.github/workflows/**'
      - 'pyproject.toml'
      - 'setup.cfg'
      - '**.py'

  push:
    branches: [ main ]
    paths:
      - '.github/workflows/**'
      - 'pyproject.toml'
      - 'setup.cfg'
      - '**.py'

  # Allow job to be triggered manually.
  workflow_dispatch:

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          'ubuntu-latest',
        ]
        python-version: [
          '3.14',
          'pypy-3.11',
        ]
        include:
          - os: 'ubuntu-22.04'
            python-version: '3.7'
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: 'pip'
          cache-dependency-path: 'setup.cfg'

      - name: Install dependencies for PyPy
        if: startsWith(matrix.python-version, 'pypy')
        run: |
          sudo apt-get install libxml2-dev libxslt-dev

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --editable='.[test,develop]'

      - name: Check code style
        if: matrix.python-version != '3.7' && matrix.python-version != 'pypy-3.7'
        run: |
          poe lint

      - name: Run tests
        run: |
          poe test-coverage

      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          flags: unittests
          name: codecov-umbrella
