name: Test

on:
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/test.yml'
      - 'setup.cfg'
      - '**.py'
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/test.yml'
      - 'setup.cfg'
      - '**.py'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [
          '3.6', '3.7', '3.8', '3.9', '3.10', '3.11',
          'pypy-3.6', 'pypy-3.7', 'pypy-3.8', 'pypy-3.9',
        ]
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: 'pip'
          cache-dependency-path: 'setup.cfg'

      - name: Install dependencies for PyPy
        if: startsWith(matrix.python-version, 'pypy')
        run: |
          sudo apt-get install libxml2-dev libxslt-dev

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --editable=.[test,develop]

      - name: Check code style
        if: matrix.python-version != '3.6' && matrix.python-version != 'pypy-3.6'
        run: |
          poe check-style

      - name: Run tests
        run: |
          poe test-coverage

      # https://github.com/codecov/codecov-action
      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: false
        continue-on-error: true
